* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $very-light-blue;
    min-height: 100vh;
    background-image: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
    background-position: right top, left bottom;
    background-repeat: no-repeat;
}

.container {
    max-width: 1000px;
    margin: 0 auto;

    .tudo {
        padding: 4rem 1.333rem;
        text-align: center;
    }
}